block menu
    - var current = 'Home'

mixin menu_item(title, url)
    a(href=url, class=(current === title ? 'active' : ''))= title

doctype html
html
    head
        title Scanchip
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='Scanchip')
        link(rel='stylesheet', href="assets/css/main.css")

    body
        header
            .center
                a(href='index.html'): h1 Scanchip
                nav
                    .top_menu
                        +menu_item('Institucional', 'institucional.html')
                        +menu_item('Produtos', 'produtos.html')
                        +menu_item('Cadastro', 'cadastro.html')
                        +menu_item('Suporte', 'suporte.html')
                        +menu_item('Normas para Elevadores', 'normas.html')
                    .bottom_menu
                        +menu_item('Solicite um Curso', 'cursos.html')
                        +menu_item('Orçamento', 'orcamento.html')
                        +menu_item('Trabalhe Conosco', 'trabalhe-conosco.html')
                        +menu_item('Contato', 'contato.html')
                        ul.social
                            li: a.facebook(href='#') facebook
                            li: a.twitter(href='#') twitter
                ul.lang
                    li: a.en(href='#') inglês
                    li: a.es(href='#') espanhol

        block content

        footer
            .center
                nav
                    .col
                        +menu_item('Home', 'index.html')
                        +menu_item('Institucional', 'institucional.html')
                        +menu_item('Produtos', 'produtos.html')
                        +menu_item('Cadastro', 'cadastro.html')
                        +menu_item('Suporte', 'suporte.html')
                    .col
                        +menu_item('Normas para Elevadores', 'normas.html')
                        +menu_item('Solicite um Curso', 'cursos.html')
                        +menu_item('Orçamento', 'orcamento.html')
                        +menu_item('Trabalhe Conosco', 'trabalhe-conosco.html')
                        +menu_item('Contato', 'contato.html')
                .contato
                    p.
                        Rua Lourdes, 560 - Nova Gerty<br>São Caetano do Sul/SP - 09571-470
                    p +55 11 4239-5544 / 4238-2555
                    a(href='mailto:comercial@scanchip.com.br') comercial@scanchip.com.br
                .copyright
                    p.
                        ©2015 Scanchip<br>Todos os direitos reservados
                    a(href='http://www.trupe.net', target='_blank') Criação de sites:
                    a(href='http://www.trupe.net', target='_blank').trupe Trupe Agência Criativa

        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')
        script(src='assets/js/jquery.cycle2.min.js')
        script(src='assets/js/main.js')