extends ./_template

block menu
    - var current = 'Contato'

block content
    .title.contato
        .center
            h2= current

    #map-embed
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.066192752494!2d-46.56674650000005!3d-23.6378004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5ccd1f928393%3A0xa1db95cd300752e2!2sR.+Lourdes%2C+560+-+Nova+Gerti%2C+S%C3%A3o+Caetano+do+Sul+-+SP%2C+09571-470!5e0!3m2!1spt-BR!2sbr!4v1423565408971" width="100%" height="300" frameborder="0"></iframe>

    #contato.center
        .informacoes
            .left
                p Rua Lourdes, 560 - Bairro Nova Gerty
                p São Caetano do Sul - SP - CEP: 09571-470
            .right
                p #[span +55 11] 4239-5544 #[span /] 4238-2555
                a(href='mailto:comercial@scanchip.com.br') comercial@scanchip.com.br
        form(action='#', method='post', id='form-contato')
            .left
                input(type='text', name='nome', id='nome', placeholder='Nome')
                input(type='text', name='empresa', id='empresa', placeholder='Empresa')
                input(type='email', name='email', id='email', placeholder='E-mail')
                input(type='text', name='telefone', id='telefone', placeholder='Telefone')
            .right
                textarea(name='mensagem', id='mensagem', placeholder='Mensagem')
                input(type='submit', value='Enviar')