extends ./_template

block menu
    - var current = 'Solicite um Curso'

block content
    .title
        .center
            h2= current

    #cursos.center
        form(action='#', method='post', id="form-cursos")
            .form-group
                label(for='curso') Curso
                select(name='curso', id='curso')
                    option Lorem ipsum dolor sit amet
                    option Consectetur adipisicing elit, veniam doloremque aperiam adipisci
            .form-group
                label(for='empresa') Empresa
                input(type='text', name='empresa', id='empresa')
            .form-group
                label(for='responsavel') Responsável
                input(type='text', name='responsavel', id='responsavel')
            .form-group.cep
                label(for='cep') CEP
                input(type='text', name='cep', id='cep')
            .form-group.endereco
                label(for='endereco') Endereço
                input(type='text', name='endereco', id='endereco')
            .form-group.cidade
                label(for='cidade') Cidade
                input(type='text', name='cidade', id='cidade')
            .form-group.estado
                label(for='estado') Estado
                select(name='estado', id='estado')
                    option(disabled, selected)
                    - var estados = {"AC":"Acre", "AL":"Alagoas", "AM":"Amazonas", "AP":"Amapá","BA":"Bahia","CE":"Ceará","DF":"Distrito Federal","ES":"Espírito Santo","GO":"Goiás","MA":"Maranhão","MT":"Mato Grosso","MS":"Mato Grosso do Sul","MG":"Minas Gerais","PA":"Pará","PB":"Paraíba","PR":"Paraná","PE":"Pernambuco","PI":"Piauí","RJ":"Rio de Janeiro","RN":"Rio Grande do Norte","RO":"Rondônia","RS":"Rio Grande do Sul","RR":"Roraima","SC":"Santa Catarina","SE":"Sergipe","SP":"São Paulo","TO":"Tocantins"}
                    each estado, sigla in estados
                        option(value=sigla)= estado
            .form-group.telefone
                label(for='telefone') Telefone
                input(type='text', name='telefone', id='telefone')
            .form-group.email
                label(for='email') E-mail
                input(type='email', name='email', id='email')
            .form-group
                label(for='observacoes') Observações
                textarea(name='observacoes', id='observacoes')

            input(type='submit', value='Enviar')

        .imagem: img(src='assets/img/layout/cursos_foto.jpg')