mixin menu_item(title, url)
    a(href=url)= title

doctype html
html
    head
        title Scanchip
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='Scanchip')
        link(rel='stylesheet', href="assets/css/main.css")

    body
        .bg-home
        header.home.center
            a(href='index.html'): h1 Scanchip
            nav
                .top_menu
                    +menu_item('Institucional', 'institucional.html')
                    +menu_item('Produtos', 'produtos.html')
                    +menu_item('Cadastro', 'cadastro.html')
                    +menu_item('Suporte', 'suporte.html')
                    +menu_item('Normas para Elevadores', 'normas.html')
                .bottom_menu
                    +menu_item('Solicite um Curso', 'cursos.html')
                    +menu_item('Orçamento', 'orcamento.html')
                    +menu_item('Trabalhe Conosco', 'trabalhe-conosco.html')
                    +menu_item('Contato', 'contato.html')
                    ul.social
                        li: a.facebook(href='#') facebook
                        li: a.twitter(href='#') twitter
            ul.lang
                li: a.en(href='#') inglês
                li: a.es(href='#') espanhol

        .home-slider.center
            a(href='#')#prev Anterior
            a(href='#')#next Próximo
            .slide
                h2 Lorem ipsum dolor
                h3 Lorem ipsum dolor sit amet, consectetur.
                a(href='#') Saiba mais
            .slide
                h2 Inventore provident ipsum magnam
                h3 Lorem ipsum dolor sit amet, consectetur.
                a(href='#') Saiba mais
            .slide
                h2 Numquam nam dolorem eius
                h3 Lorem ipsum dolor sit amet, consectetur.
                a(href='#') Saiba mais

        .aviso
            .icone
            :markdown
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sed, ab consequatur! [Exemplo de link](#) mol estiae consequatur rerum exercitationem deleniti iusto modi illo, consequuntur facilis corporis numquam perspiciatis laboriosam quibusdam magnam nostrum.

        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')
        script(src='assets/js/jquery.cycle2.min.js')
        script(src='assets/js/main.js')