extends ./_template

block menu
    - var current = 'Institucional'

block content
    .title
        .center
            h2= current

    #institucional.center
        .imagem: img(src='assets/img/layout/institucional_foto.jpg')
        .texto
            :markdown
                **SCANCHIP TECNOLOGIA**, fundada no ano de 1998 vem atuando no desenvolvimento e na fabricação de produtos eletrônicos de *alta qualidade e tecnologia*.

                Em 2001 desenvolvemos o Comando Eletrônico Convencional para Elevadores, e devido à aprovação de nossos clientes, partimos para um grande desafio, o exclusivo e mais avançado *Comando Serial* para chamadas e sinalização.

                Após um período de desenvolvimento e teste em campo, em 2005 passamos a produzir o Comando Serial. E foi com grande satisfação que nossos clientes aprovaram sem nenhuma restrição.

                Com o novo *Comando Eletrônico Serial Scanchip*, nossos clientes passam a ter as seguintes vantagens:

                - Comando com o mínimo de ligações;
                - Chicote do poço e da cabina com redução de 40% a 70% na fiação;
                - Redução de aproximadamente 70% na mão-de-obra para a instalação.

                Com estas vantagens e muitas outras o Comando Serial Double Wire, possibilitará aos nossos clientes realizarem muitos negócios, sem aumentarem seus custos.

                Acredite e use: **Scanchip, alta tecnologia ao seu alcance**!