extends ./_template

block menu
    - var current = 'Normas para Elevadores'

block content
    .title
        .center
            h2= current

    #normas.center
        .texto
            - var n = 0
            while n < 3
                - n++
                h3 Lorem Ipsum
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eum excepturi, doloribus iste nisi earum nobis sint sequi, quis possimus exercitationem consequuntur quas blanditiis nulla quibusdam perferendis incidunt provident illo, maxime fuga? Tenetur inventore sit, vero molestias dicta, sint ea natus facere quasi, atque sapiente tempora id repellendus ipsam voluptatibus ipsa asperiores aspernatur eum reiciendis quidem eligendi.
                p Vel nulla quia dolor labore, odit similique totam ex maiores atque, optio odio, doloribus animi eaque saepe dolores praesentium adipisci beatae ipsam esse quos eveniet nihil! Hic accusamus impedit autem, ipsa quis atque officia fuga, harum iusto possimus, a voluptatum labore odit doloribus culpa illum deserunt beatae quia molestias laboriosam repudiandae sed! Doloremque fugit temporibus laudantium cum facere autem magnam laboriosam. Tempora, illum.

        aside
            img(src='assets/img/layout/normas_foto.jpg')
            .aside-texto
                h3 Lorem ipsum dolor sit
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, molestias similique vero id eius quibusdam earum perspiciatis vitae tempore explicabo sint soluta repudiandae quas impedit! Inventore rerum eum omnis et, porro animi aut quidem, voluptatum, reiciendis odit sint commodi hic amet dignissimos corporis itaque nulla, dolore quia corrupti? Eveniet, fugit vero similique sapiente ratione incidunt, hic magni debitis provident itaque!