extends ./_template

block menu
    - var current = 'Orçamento'

block content
    .title
        .center
            h2= current

    form(action='#', method='post', id='form-orcamento').center
        .form-block.dados-cadastrais
            h3 Dados Cadastrais
            .form-block-inner
                .left
                    .form-group
                        label(for='empresa') Empresa
                        input(type='text', name='empresa', id='empresa')
                    .form-group
                        label(for='responsavel') Responsável
                        input(type='text', name='responsavel', id='responsavel')
                    .form-group
                        label(for='telefone') Telefone
                        input(type='text', name='telefone', id='telefone')
                    .form-group
                        label(for='email') E-mail
                        input(type='email', name='email', id='email')
                .right
                    .form-group
                        label(for='obra_local') Obra/Local
                        input(type='text', name='obra_local', id='obra_local')
                    .form-group
                        label(for='cep') CEP
                        input(type='text', name='cep', id='cep')
                    .form-group
                        label(for='cidade') Cidade
                        input(type='text', name='cidade', id='cidade')
                    .form-group
                        label(for='estado') Estado
                        select(name='estado', id='estado')
                            option(disabled, selected)
                            - var estados = {"AC":"Acre", "AL":"Alagoas", "AM":"Amazonas", "AP":"Amapá","BA":"Bahia","CE":"Ceará","DF":"Distrito Federal","ES":"Espírito Santo","GO":"Goiás","MA":"Maranhão","MT":"Mato Grosso","MS":"Mato Grosso do Sul","MG":"Minas Gerais","PA":"Pará","PB":"Paraíba","PR":"Paraná","PE":"Pernambuco","PI":"Piauí","RJ":"Rio de Janeiro","RN":"Rio Grande do Norte","RO":"Rondônia","RS":"Rio Grande do Sul","RR":"Roraima","SC":"Santa Catarina","SE":"Sergipe","SP":"São Paulo","TO":"Tocantins"}
                            each estado, sigla in estados
                                option(value=sigla)= estado

        .form-block.dados-gerais
            h3 Dados Gerais da Obra (Qtd. para cada elevador)
            .form-block-inner
                .form-row
                    .form-group.qtd-quadros
                        label(for='qtd-quadros') Qtd. Quadros
                        input(type='text', name='qtd-quadros', id='qtd-quadros')
                    .form-group.pavimentos
                        label(for='pavimentos') Pavimentos
                        input(type='text', name='pavimentos', id='pavimentos')
                    .form-group.velocidade
                        label(for='velocidade') Velocidade
                        input(type='text', name='velocidade', id='velocidade')
                        span Mts/Min
                .form-row
                    .form-group.marca-maquina
                        label(for='marca-maquina') Marca da Máquina
                        input(type='text', name='marca-maquina', id='marca-maquina')
                    .form-group.modelo-maquina
                        label(for='modelo-maquina') Modelo Máquina
                        input(type='text', name='modelo-maquina', id='modelo-maquina')
                .form-row.radios
                    .form-group
                        h5 Tensão da Rede

                        input(type='radio', name='tensao', id='tensao220', value='220 Volts')
                        label(for='tensao220') 220 Volts

                        input(type='radio', name='tensao', id='tensao380', value='380 Volts')
                        label(for='tensao380') 380 Volts

                        input(type='radio', name='tensao', id='tensao440', value='440 Volts')
                        label(for='tensao440') 440 Volts
                    .form-group
                        h5 Utilização

                        input(type='radio', name='utilizacao', id='utilizacao-residencial', value='Residencial')
                        label(for='utilizacao-residencial') Residencial

                        input(type='radio', name='utilizacao', id='utilizacao-comercial', value='Comercial')
                        label(for='utilizacao-comercial') Comercial

                        input(type='radio', name='utilizacao', id='utilizacao-plataforma', value='Plataforma')
                        label(for='utilizacao-plataforma') Plataforma
                    .form-group
                        h5 Tipo de Chamada

                        input(type='radio', name='tipochamada', id='tipochamada-pressaoconstante', value='Pressão Constante')
                        label(for='tipochamada-pressaoconstante') Pressão Constante

                        input(type='radio', name='tipochamada', id='tipochamada-seletivosbdc', value='Seletivo SB/DC')
                        label(for='tipochamada-seletivosbdc') Seletivo SB/DC

                        input(type='radio', name='tipochamada', id='tipochamada-seletivodc', value='Seletivo DC')
                        label(for='tipochamada-seletivodc') Seletivo DC
                .form-row
                    .form-group.denominacao-pavimentos
                        label(for='denominacao-pavimentos') Denominação dos Pavimentos
                        input(type='text', name='denominacao-pavimentos', id='denominacao-pavimentos')
                .form-row
                    .form-group.paredao-pisos
                        label(for='paredao-pisos') Paredão entre pisos?
                        input(type='radio', name='paredao-pisos', value="Sim", id='paredao-pisos-sim')
                        label(for='paredao-pisos-sim') Sim
                        input(type='radio', name='paredao-pisos', value="Não", id='paredao-pisos-nao')
                        label(for='paredao-pisos-nao') Não
                        label(for='paredao-pisos-especificacao') Por favor, especifique:
                        input(type='text', name='paredao-pisos-especificacao', id='paredao-pisos-especificacao')
                .form-row
                    .form-group.gabinete-slim
                        label(for='gabinete-slim') Gabinete Slim?
                        input(type='radio', name='gabinete-slim', value="Sim", id='gabinete-slim-sim')
                        label(for='gabinete-slim-sim') Sim
                        input(type='radio', name='gabinete-slim', value="Não", id='gabinete-slim-nao')
                        label(for='gabinete-slim-nao') Não
                        label(for='exemplo') (Ex: Utilizado em elevadores sem casa de Máquinas)

        .form-block.motor-tracao-ca
            h3 Motor de Tração CA (Plaqueta do Motor)
            .form-block-inner
                .form-row.inputs
                    .form-group
                        label(for='ca-potencia-kw') Potência
                        input(type='text', name='ca-potencia-kw', id='ca-potencia-kw')
                        span kW
                    .form-group
                        label(for='ca-potencia-hp') ou
                        input(type='text', name='ca-potencia-hp', id='ca-potencia-hp')
                        span HP
                    .form-group
                        label(for='ca-corrente') Corrente
                        input(type='text', name='ca-corrente', id='ca-corrente')
                        span Amp
                .form-row.inputs
                    .form-group
                        label(for='ca-tensao') Tensão
                        input(type='text', name='ca-tensao', id='ca-tensao')
                        span Volts
                    .form-group
                        label(for='ca-frequencia') Frequência
                        input(type='text', name='ca-frequencia', id='ca-frequencia')
                        span Hz
                    .form-group
                        label(for='ca-rotacao') Rotação
                        input(type='text', name='ca-rotacao', id='ca-rotacao')
                        span RPM
                .form-row.radios
                    .form-group
                        label(for='ca-motor-gearless') Motor Gearless?
                        input(type='radio', name='ca-motor-gearless', value="Sim", id='ca-motor-gearless-sim')
                        label(for='ca-motor-gearless-sim') Sim
                        input(type='radio', name='ca-motor-gearless', value="Não", id='ca-motor-gearless-nao')
                        label(for='ca-motor-gearless-nao') Não
                    .form-group
                        label(for='ca-malha-fechada') Malha fechada (com encoder)?
                        input(type='radio', name='ca-malha-fechada', value="Sim", id='ca-malha-fechada-sim')
                        label(for='ca-malha-fechada-sim') Sim
                        input(type='radio', name='ca-malha-fechada', value="Não", id='ca-malha-fechada-nao')
                        label(for='ca-malha-fechada-nao') Não

        .form-block.motor-tracao-cc
            h3 Motor de Tração CC (Plaqueta do Motor)
            .form-block-inner
                .form-row.inputs
                    .form-group
                        label(for='cc-potencia-kw') Potência
                        input(type='text', name='cc-potencia-kw', id='cc-potencia-kw')
                        span kW
                    .form-group
                        label(for='cc-potencia-hp') ou
                        input(type='text', name='cc-potencia-hp', id='cc-potencia-hp')
                        span HP
                    .form-group
                        label(for='cc-corrente') Corrente
                        input(type='text', name='cc-corrente', id='cc-corrente')
                        span Amp
                .form-row.inputs.twolines
                    .form-group
                        label(for='cc-tensao-armadura') Tensão Armadura
                        input(type='text', name='cc-tensao-armadura', id='cc-tensao-armadura')
                        span Volts
                    .form-group
                        label(for='cc-corrente-armadura') Corrente Armadura
                        input(type='text', name='cc-corrente-armadura', id='cc-corrente-armadura')
                        span Amp
                .form-row.inputs.twolines
                    .form-group
                        label(for='cc-tensao-campo') Tensão Campo
                        input(type='text', name='cc-tensao-campo', id='cc-tensao-campo')
                        span Volts
                    .form-group
                        label(for='cc-corrente-campo') Corrente Campo
                        input(type='text', name='cc-corrente-campo', id='cc-corrente-campo')
                        span Amp
                .form-row.radios
                    .form-group
                        .radio-wrapper
                            input(type='radio', name='cc-motor-engrenagem', id='cc-motor-com-engrenagem', value='true')
                            label(for='cc-motor-com-engrenagem') Motor com engrenagem
                        .radio-wrapper
                            input(type='radio', name='cc-motor-engrenagem', id='cc-motor-sem-engrenagem', value='false')
                            label(for='cc-motor-sem-engrenagem') Motor sem engrenagem

        .form-block.acionamentos
            h3 Acionamentos
            .form-block-inner.vvvf-drive
                h4 VVVF-Drive Motor
                .form-group.radios
                    .radio-wrapper
                        input(type='radio', name='vvvf-drive', id='inversor-v1000', value='Inversor V1000')
                        label(for='inversor-v1000') Inversor V1000
                    .radio-wrapper
                        input(type='radio', name='vvvf-drive', id='inversor-l1000', value='Inversor L1000')
                        label(for='inversor-l1000') Inversor L1000
                    .radio-wrapper
                        input(type='radio', name='vvvf-drive', id='gefran', value='Gefran')
                        label(for='gefran') Inversor Gefran
                    .radio-wrapper
                        input(type='radio', name='vvvf-drive', id='gefran-conversor', value='Gefran')
                        label(for='gefran-conversor') Conversor Gefran C.C
                .form-group.radios-inner
                    h5 Modelo do Encoder
                    .radio-wrapper
                        input(type='radio', name='modelo-encoder', id='modelo-encoder-incremental', value='Incremental')
                        label(for='modelo-encoder-incremental') Incremental
                    .radio-wrapper
                        input(type='radio', name='modelo-encoder', id='modelo-encoder-senoidal', value='Senoidal')
                        label(for='modelo-encoder-senoidal') Senoidal
                    .radio-wrapper
                        input(type='radio', name='modelo-encoder', id='modelo-encoder-motor', value='Já Instalado no motor')
                        label(for='modelo-encoder-motor') Já Instalado no motor
                .form-group.inputs
                    label(for='modelo-encoder-marca') Marca/Modelo
                    input(type='text', name='modelo-encoder-marca', id='modelo-encoder-marca')
            .form-block-inner.hidraulicos
                h4 Hidráulicos
                .form-group.radios
                    .radio-wrapper
                        input(type='radio', name='hidraulicos', id='hidraulicos-1v', value='HD 1V')
                        label(for='hidraulicos-1v') HD 1V
                    .radio-wrapper
                        input(type='radio', name='hidraulicos', id='hidraulicos-soft-1v', value='HD Soft-Starter 1V')
                        label(for='hidraulicos-soft-1v') HD Soft-Starter 1V
                    .radio-wrapper
                        input(type='radio', name='hidraulicos', id='hidraulicos-2v', value='HD 2V')
                        label(for='hidraulicos-2v') HD 2V
                    .radio-wrapper
                        input(type='radio', name='hidraulicos', id='hidraulicos-soft-2v', value='HD Soft-Starter 2V')
                        label(for='hidraulicos-soft-2v') HD Soft-Starter 2V
                    .radio-wrapper
                        input(type='radio', name='hidraulicos', id='hidraulicos-et', value='HD ET')
                        label(for='hidraulicos-et') HD ET
                    .radio-wrapper
                        input(type='radio', name='hidraulicos', id='hidraulicos-eletrico-1v', value='Elétrico 1V')
                        label(for='hidraulicos-eletrico-1v') Elétrico 1V
                .form-group.radios-inner
                    h5 Tensão das Válvulas
                    .radio-wrapper
                        input(type='radio', name='tensao-valvulas', id='tensao-valvulas12', value='12 Volts')
                        label(for='tensao-valvulas12') 12 Volts
                    .radio-wrapper
                        input(type='radio', name='tensao-valvulas', id='tensao-valvulas24', value='24 Volts')
                        label(for='tensao-valvulas24') 24 Volts
                    .radio-wrapper
                        input(type='radio', name='tensao-valvulas', id='tensao-valvulas48', value='48 Volts')
                        label(for='tensao-valvulas48') 48 Volts
                    .radio-wrapper
                        input(type='radio', name='tensao-valvulas', id='tensao-valvulas220', value='220 Volts')
                        label(for='tensao-valvulas220') 220 Volts
                .form-group.inputs
                    label(for='corrente-valvulas') Corrente das Válvulas
                    input(type='text', name='corrente-valvulas', id='corrente-valvulas')

        .form-block.freio-maquina
            h3 Freio da Máquina
            .form-block-inner
                .form-group.radios
                    .radio-wrapper
                        input(type='radio', name='freio-tipo', id='freio-bobina', value='Bobina')
                        label(for='freio-bobina') Bobina
                    .radio-wrapper
                        input(type='radio', name='freio-tipo', id='freio-trifasico', value='Trifásico/BS')
                        label(for='freio-trifasico') Trifásico/BS
                    .radio-wrapper
                        input(type='radio', name='freio-tipo', id='freio-monofasico', value='Monofásico')
                        label(for='freio-monofasico') Monofásico
                    .radio-wrapper
                        input(type='radio', name='freio-tipo', id='freio-motofreio', value='Motofreio')
                        label(for='freio-motofreio') Motofreio
                    .radio-wrapper
                        input(type='radio', name='freio-tipo', id='sem-freio-eletrico', value='Sem Freio Elétrico')
                        label(for='sem-freio-eletrico') Sem Freio Elétrico
                .form-group.checkboxes
                    input(type='checkbox', name='freio-resistor', value="true", id='freio-resistor')
                    label(for='freio-resistor') Resistor Descanso de Freio
                .form-row.inputs
                    .form-group
                        label(for='freio-tensao') Tensão
                        input(type='text', name='freio-tensao', id='freio-tensao')
                        span Volts
                    .form-group
                        label(for='freio-corrente') Corrente
                        input(type='text', name='freio-corrente', id='freio-corrente')
                        span Amp

        .form-block.operador-porta
            h3 Operador de Porta
            .form-block-inner
                .form-div.tipo-operadores
                    .form-group.radios
                        h5 Tipos de Operadores de Porta
                        .radio-wrapper
                            input(type='radio', name='operador-tipo', id='operador-vvvf-seco', value='VVVF Seco')
                            label(for='operador-vvvf-seco') VVVF Seco
                        .radio-wrapper
                            input(type='radio', name='operador-tipo', id='operador-trifasico', value='Trifásico')
                            label(for='operador-trifasico') Trifásico
                        .radio-wrapper
                            input(type='radio', name='operador-tipo', id='operador-monofasico', value='Monofásico')
                            label(for='operador-monofasico') Monofásico
                        .radio-wrapper
                            input(type='radio', name='operador-tipo', id='operador-c-freio', value='Op. c/ Freio')
                            label(for='operador-c-freio') Op. c/ Freio
                        .radio-wrapper
                            input(type='radio', name='operador-tipo', id='operador-cc', value='Op. CC')
                            label(for='operador-cc') Op. CC
                        .radio-wrapper
                            input(type='radio', name='operador-tipo', id='operador-sem-cc', value='Sem CC')
                            label(for='operador-sem-cc') Sem CC
                    .form-row
                        .form-group.checkboxes
                            input(type='checkbox', name='operador-resistor', value="true", id='operador-resistor')
                            label(for='operador-resistor') Resistor Descanso Operador de Porta
                        .form-group.inputs
                            label(for='operador-tensao-motor') Tensão do Motor
                            input(type='text', name='operador-tensao-motor', id='operador-tensao-motor')
                        .form-group.inputs
                            label(for='operador-tensao-freio') Tensão do Freio
                            input(type='text', name='operador-tensao-freio', id='operador-tensao-freio')
                .form-div.qtd-op
                    .form-group
                        label(for='operador-qtd') Qtd. Op.
                            input(type='text', name='operador-qtd', id='operador-qtd')
                .form-div.porta
                    h5 Tipo de Porta Pavimento
                    .radio-wrapper
                        input(type='radio', name='porta-tipo', id='porta-eixo-vertical', value='Eixo Vertical')
                        label(for='porta-eixo-vertical') Eixo Vertical
                    .radio-wrapper
                        input(type='radio', name='porta-tipo', id='porta-automatica', value='Automática')
                        label(for='porta-automatica') Automática
                    .radio-wrapper
                        input(type='radio', name='porta-tipo', id='porta-manual', value='Manual')
                        label(for='porta-manual') Manual
                    .radio-wrapper
                        input(type='radio', name='porta-tipo', id='porta-bus', value='Porta Bus')
                        label(for='porta-bus') Porta Bus
                .form-div.marca-modelo
                    .form-group
                        label(for='porta-marca') Marca
                        input(type='text', name='porta-marca', id='porta-marca')
                    .form-group
                            label(for='porta-modelo') Modelo
                            input(type='text', name='porta-modelo', id='porta-modelo')

        .form-block.rampa
            h3 Acionamento de Rampa
            .form-block-inner
                .form-div.tipo
                    h5 Tipo de Rampa
                    .radio-wrapper
                        input(type='radio', name='rampa-tipo', id='rampa-mecanica', value='Mecânica')
                        label(for='rampa-mecanica') Mecânica
                    .radio-wrapper
                        input(type='radio', name='rampa-tipo', id='rampa-eletromagnetica', value='Eletromagnética')
                        label(for='rampa-eletromagnetica') Eletromagnética
                .form-div.eletromagnetica
                    span Caso seja Eletromagnética, preencha:
                    .form-group.clear
                        label(for='rampa-tensao') Tensão
                        input(type='text', name='rampa-tensao', id='rampa-tensao')
                        span Vac ou Vdc
                    .form-group
                        label(for='rampa-corrente') Corrente
                        input(type='text', name='rampa-corrente', id='rampa-corrente')
                        span Amp

        .form-block.sinalizacao-pavimentos
            h3 Sinalização de Pavimentos (Qtd. para cada elevador)
            .form-block-inner
                .form-div.checkboxes
                    .form-group
                        input(type='checkbox', name='pavimentos-ipd20mm', value="true", id='pavimentos-ipd20mm')
                        label(for='pavimentos-ipd20mm') IPD 20mm
                    .form-group
                        input(type='checkbox', name='pavimentos-ipd30mm', value="true", id='pavimentos-ipd30mm')
                        label(for='pavimentos-ipd30mm') IPD 30mm
                    .form-group
                        input(type='checkbox', name='pavimentos-ipd50mm', value="true", id='pavimentos-ipd50mm')
                        label(for='pavimentos-ipd50mm') IPD 50mm
                    .form-group
                        input(type='checkbox', name='pavimentos-setapontos50mm', value="true", id='pavimentos-setapontos50mm')
                        label(for='pavimentos-setapontos50mm') Seta pontos 50mm
                    .form-group
                        input(type='checkbox', name='pavimentos-ipd55mm', value="true", id='pavimentos-ipd55mm')
                        label(for='pavimentos-ipd55mm') IPD 55mm
                    .form-group
                        input(type='checkbox', name='pavimentos-ipdlcdmini', value="true", id='pavimentos-ipdlcdmini')
                        label(for='pavimentos-ipdlcdmini') IPD LCD Mini
                    .form-group
                        input(type='checkbox', name='pavimentos-ipdlcdmono5', value="true", id='pavimentos-ipdlcdmono5')
                        label(for='pavimentos-ipdlcdmono5') IPD LCD Mono 5"
                    .form-group
                        input(type='checkbox', name='pavimentos-ipdlcdcolorido', value="true", id='pavimentos-ipdlcdcolorido')
                        label(for='pavimentos-ipdlcdcolorido') IPD LCD Colorido
                    .form-group
                        input(type='checkbox', name='pavimentos-gongo', value="true", id='pavimentos-gongo')
                        label(for='pavimentos-gongo') Gongo
                .form-div.radios
                    h5 Cor dos Indicadores
                    .radio-wrapper
                        input(type='radio', name='pavimentos-indicadores-cor', id='pavimentos-indicadores-cor-azul', value='Azul')
                        label(for='pavimentos-indicadores-cor-azul') Azul
                    .radio-wrapper
                        input(type='radio', name='pavimentos-indicadores-cor', id='pavimentos-indicadores-cor-vermelho', value='Vermelho')
                        label(for='pavimentos-indicadores-cor-vermelho') Vermelho
                .form-div.radios
                    h5 Indicadores no Marco?
                    .radio-wrapper
                        input(type='radio', name='pavimentos-indicadores-marco', id='pavimentos-indicadores-marco-sim', value='true')
                        label(for='pavimentos-indicadores-marco-sim') Sim
                    .radio-wrapper
                        input(type='radio', name='pavimentos-indicadores-marco', id='pavimentos-indicadores-marco-nao', value='false')
                        label(for='pavimentos-indicadores-marco-nao') Não

        .form-block.sinalizacao-cabina
            h3 Sinalização de Cabina (Qtd. para cada elevador)
            .form-block-inner
                .form-group
                    input(type='checkbox', name='cabina-ipd20mm', value="true", id='cabina-ipd20mm')
                    label(for='cabina-ipd20mm') IPD 20mm
                .form-group
                    input(type='checkbox', name='cabina-ipd30mm', value="true", id='cabina-ipd30mm')
                    label(for='cabina-ipd30mm') IPD 30mm
                .form-group
                    input(type='checkbox', name='cabina-ipd50mm', value="true", id='cabina-ipd50mm')
                    label(for='cabina-ipd50mm') IPD 50mm
                .form-group
                    input(type='checkbox', name='cabina-setapontos50mm', value="true", id='cabina-setapontos50mm')
                    label(for='cabina-setapontos50mm') Seta pontos 50mm
                .form-group
                    input(type='checkbox', name='cabina-ipd55mm', value="true", id='cabina-ipd55mm')
                    label(for='cabina-ipd55mm') IPD 55mm
                .form-group
                    input(type='checkbox', name='cabina-ipdlcdmini', value="true", id='cabina-ipdlcdmini')
                    label(for='cabina-ipdlcdmini') IPD LCD Mini
                .form-group
                    input(type='checkbox', name='cabina-ipdlcdmono5', value="true", id='cabina-ipdlcdmono5')
                    label(for='cabina-ipdlcdmono5') IPD LCD Mono 5"
                .form-group
                    input(type='checkbox', name='cabina-ipdlcdcolorido', value="true", id='cabina-ipdlcdcolorido')
                    label(for='cabina-ipdlcdcolorido') IPD LCD Colorido
                .form-group
                    input(type='checkbox', name='cabina-gongo', value="true", id='cabina-gongo')
                    label(for='cabina-gongo') Gongo
                .form-group
                    input(type='checkbox', name='cabina-scanvoicer', value="true", id='cabina-scanvoicer')
                    label(for='cabina-scanvoicer') Scan Voicer

        .form-block.acessorios
            h3 Acessórios
            .form-block-inner
                .form-group
                    input(type='checkbox', name='acessorios-caixainspecao', value="true", id='acessorios-caixainspecao')
                    label(for='acessorios-caixainspecao') Caixa de Inspeção
                .form-group
                    input(type='checkbox', name='acessorios-caixafundopoco', value="true", id='acessorios-caixafundopoco')
                    label(for='acessorios-caixafundopoco') Caixa Fundo de Poço
                .form-group
                    input(type='checkbox', name='acessorios-sensores', value="true", id='acessorios-sensores')
                    label(for='acessorios-sensores') Sensores
                .form-group
                    input(type='checkbox', name='acessorios-chicotepocoiluminacao', value="true", id='acessorios-chicotepocoiluminacao')
                    label(for='acessorios-chicotepocoiluminacao') Chicote de Poço com Iluminação
                .form-group
                    input(type='checkbox', name='acessorios-cabosmadeira', value="true", id='acessorios-cabosmadeira')
                    label(for='acessorios-cabosmadeira') Cabos de Manobra
                .form-group
                    input(type='checkbox', name='acessorios-ima', value="true", id='acessorios-ima')
                    label(for='acessorios-ima') Imã
                .form-group
                    input(type='checkbox', name='acessorios-chicotepoco', value="true", id='acessorios-chicotepoco')
                    label(for='acessorios-chicotepoco') Chicote de Poço sem Iluminação
                .form-group
                    input(type='checkbox', name='acessorios-cabomanobra', value="true", id='acessorios-cabomanobra')
                    label(for='acessorios-cabomanobra') Cabo de Manobra Extra 9 Vias
                .form-group
                    input(type='checkbox', name='acessorios-limitesregulaveis', value="true", id='acessorios-limitesregulaveis')
                    label(for='acessorios-limitesregulaveis') Limites Reguláveis
                .form-group
                    input(type='checkbox', name='acessorios-barreiraeletronica', value="true", id='acessorios-barreiraeletronica')
                    label(for='acessorios-barreiraeletronica') Barreira Eletrônica
                .form-group
                    input(type='checkbox', name='acessorios-painelprogramador', value="true", id='acessorios-painelprogramador')
                    label(for='acessorios-painelprogramador') Painel Programador p/ Inversor L1000
                .form-group
                    input(type='checkbox', name='acessorios-suportequadro', value="true", id='acessorios-suportequadro')
                    label(for='acessorios-suportequadro') Suporte p/ Quadro

        .form-block.funcoes-diversas
            h3 Funções Diversas
            .form-block-inner
                .form-div.checkboxes
                    .form-group
                        input(type='checkbox', name='funcoesdiversas-ventiladorcabina', value="true", id='funcoesdiversas-ventiladorcabina')
                        label(for='funcoesdiversas-ventiladorcabina') Ventilador na Cabina
                    .form-group
                        input(type='checkbox', name='funcoesdiversas-ventiladormaquina', value="true", id='funcoesdiversas-ventiladormaquina')
                        label(for='funcoesdiversas-ventiladormaquina') Ventilador de Máquina
                    .form-group
                        input(type='checkbox', name='funcoesdiversas-ascensorista', value="true", id='funcoesdiversas-ascensorista')
                        label(for='funcoesdiversas-ascensorista') Ascensorista
                    .form-group
                        input(type='checkbox', name='funcoesdiversas-chaveligadesliga', value="true", id='funcoesdiversas-chaveligadesliga')
                        label(for='funcoesdiversas-chaveligadesliga') Chave de Liga/Desliga
                    .form-group
                        input(type='checkbox', name='funcoesdiversas-chavebombeiro', value="true", id='funcoesdiversas-chavebombeiro')
                        label(for='funcoesdiversas-chavebombeiro') Chave de Bombeiro
                .form-div.radios
                    h5 Tensão de Iluminação da Cabina
                    .radio-wrapper
                        input(type='radio', name='tensao-cabina', id='tensao-cabina-110v', value='110 Volts')
                        label(for='tensao-cabina-110v') 110 Volts
                    .radio-wrapper
                        input(type='radio', name='tensao-cabina', id='tensao-cabina-220v', value='220 Volts')
                        label(for='tensao-cabina-220v') 220 Volts

        .form-block.funcoes-especiais
            h3 Funções Especiais e Gerenciamento de Tráfego
            .form-block-inner
                .form-div
                    .form-group.group1
                        h5 Despacho
                        .radio-wrapper
                            input(type='radio', name='despacho', id='despacho-simplex', value='Simplex')
                            label(for='despacho-simplex') Simplex
                        .radio-wrapper
                            input(type='radio', name='despacho', id='despacho-duplex', value='Duplex')
                            label(for='despacho-duplex') Duplex
                        .radio-wrapper
                            input(type='radio', name='despacho', id='despacho-triplex', value='Triplex')
                            label(for='despacho-triplex') Triplex
                        .radio-wrapper
                            input(type='radio', name='despacho', id='despacho-multiplex', value='Sistema Multiplex com 4 ou 5 carros')
                            label(for='despacho-multiplex') Sistema Multiplex com 4 ou 5 carros
                    .form-group.group2
                        h5 Tamanho do cabo de comunicação
                        .radio-wrapper
                            input(type='radio', name='tamanho-cabo', id='tamanho-cabo-7mts', value='7mts')
                            label(for='tamanho-cabo-7mts') 7mts
                        .radio-wrapper
                            input(type='radio', name='tamanho-cabo', id='tamanho-cabo-9mts', value='9mts')
                            label(for='tamanho-cabo-9mts') 9mts
                        .radio-wrapper
                            input(type='radio', name='tamanho-cabo', id='tamanho-cabo-12mts', value='12mts')
                            label(for='tamanho-cabo-12mts') 12mts
                    .form-group.group3
                        h5 Funções de Tráfego
                        .checkbox-wrapper
                            input(type='checkbox', name='funcoes-trafego-monitortrafego', id='funcoes-trafego-monitortrafego', value='true')
                            label(for='funcoes-trafego-monitortrafego') Monitor de Tráfego
                        .checkbox-wrapper
                            input(type='checkbox', name='funcoes-trafego-kitresgate', id='funcoes-trafego-kitresgate', value='true')
                            label(for='funcoes-trafego-kitresgate') Kit Resgate Automático
                .form-div
                    .form-group.group4
                        h5 Controle de Acesso
                        .radio-wrapper
                            input(type='radio', name='controleacesso', id='controleacesso-biometrico', value='Biométrico, Cartão e Senha')
                            label(for='controleacesso-biometrico') Biométrico, Cartão e Senha
                        .radio-wrapper
                            input(type='radio', name='controleacesso', id='controleacesso-cartao', value='Cartão e Senha')
                            label(for='controleacesso-cartao') Cartão e Senha
                .form-row
                    .form-group.pavimentos-assimetricos
                        label(for='pavimentos-assimetricos') Pavimentos Assimétricos?
                        input(type='radio', name='pavimentos-assimetricos', value="Sim", id='pavimentos-assimetricos-sim')
                        label(for='pavimentos-assimetricos-sim') Sim
                        input(type='radio', name='pavimentos-assimetricos', value="Não", id='pavimentos-assimetricos-nao')
                        label(for='pavimentos-assimetricos-nao') Não
                        label(for='pavimentos-assimetricos-especificacao') Por favor, especifique:
                        input(type='text', name='pavimentos-assimetricos-especificacao', id='pavimentos-assimetricos-especificacao')
                .form-row
                    .form-group.prumadas-botoeiras
                        label(for='prumadas-botoeiras') Em caso de duplex, triplex ou mais elevadores, indique o número de prumadas de botoeiras para o conjunto
                        input(type='text', name='prumadas-botoeiras', id='prumadas-botoeiras')

        .form-block.observacoes
            h3 Observações / Solicitações Adicionais
            .form-block-inner
                textarea(name='observacoes', id='observacoes', placeholder='Observações')
                .form-div.checkboxes
                    h5 Envio do Manual
                    .checkbox-wrapper
                        input(type='checkbox', name='manual-impresso', id='manual-impresso', value='Azul')
                        label(for='manual-impresso') Manual Impresso
                    .checkbox-wrapper
                        input(type='checkbox', name='manual-eletronico', id='manual-eletronico', value='Azul')
                        label(for='manual-eletronico') Manual Eletrônico - PDF
                .form-div.radios
                    h5 Forma de Entrega
                    .radio-wrapper
                        input(type='radio', name='forma-entrega', id='forma-entrega-retirada', value='110 Volts')
                        label(for='forma-entrega-retirada') Cliente retira na Scanchip
                    .radio-wrapper
                        input(type='radio', name='forma-entrega', id='forma-entrega-transportadora', value='220 Volts')
                        label(for='forma-entrega-transportadora') Transportadora

        input(type='submit', value='Enviar')