extends ./_template

block menu
    - var current = 'Produtos'

block content
    .title
        .center
            a(href='#').active Quadro de Comando
            a(href='#') Acessórios
            a(href='#') Controle de Acesso
            a(href='#') Outros

    #produtos.center
        - var n = 0
        while n < 8
            - n++
            a(href='produto-detalhe.html').thumb
                .imagem: img(src='assets/img/produtos/thumb.jpg')
                h4 Lorem ipsum dolor sit amet