extends ./_template

block menu
    - var current = 'Produtos'

block content
    .title
        .center
            h2 Nome do Produto

    #produto-detalhe.center
        .descricao
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis qui, quia saepe, non facilis itaque id asperiores, ad, iure rerum praesentium minus ipsam molestiae sapiente doloribus. Hic deserunt dolore veritatis esse, fugiat ipsa nulla beatae, laudantium sed temporibus atque.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ea eum ex aut, et eveniet earum molestias eius est provident.

            .caracteristicas-wrapper
                a(href='#').caracteristicas-trigger Características
                ul.caracteristicas
                    li Diversos modelos de acordo com sua necessidade
                    li Ótima durabilidade e resistência
                    li Versátil para diversas aplicações
                    li Modelos por senha, cartão, e biométrico
                    li Aplicável em qualquer comando

            .botoes
                a(href='#') Download manual [PDF]
                a(href='#') Solicite um orçamento

            a(href='produtos.html').voltar « voltar

        .produto-slider
            img(src='assets/img/produtos/produto1.jpg')
            img(src='assets/img/produtos/produto2.jpg')
            img(src='assets/img/produtos/produto3.jpg')
            .nav
                a#prev(href='#')
                a#next(href='#')