extends ./_template

block menu
    - var current = 'Suporte'

block content
    .title
        .center
            h2= current

    #suporte.center
        .contato
            p +55 11 #[span 4239-5544] / #[span 4238-2555]
            a(href='mailto:comercial@scanchip.com.br') comercial@scanchip.com.br
            img(src='assets/img/layout/suporte_foto.jpg')

        .texto
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ante mi. Nullam vitae consequat mi. Proin tellus felis, dignissim et efficitur in, sagittis pulvinar nisi. Sed pretium ut risus consequat tincidunt. Nam arcu massa, sagittis non ornare id, ornare ut magna. Sed et nisl rutrum, suscipit lorem sit amet, venenatis metus. Vivamus imperdiet interdum sodales.
            p Mauris a massa hendrerit, ornare est a, gravida dui. Ut in pharetra enim. Nulla scelerisque cursus porttitor. Mauris et mauris nec lectus porta volutpat. Cras neque nulla, vehicula non elementum at, eleifend id ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis odio ac felis lobortis feugiat et at augue. Maecenas imperdiet laoreet sem, feugiat ornare felis feugiat at. Donec et nisi varius, accumsan nulla vitae, egestas velit. Suspendisse interdum eros quis fringilla sodales.
            p Sed posuere at justo quis ullamcorper. Donec fermentum dapibus dolor quis vulputate. Proin sed nibh metus. Nulla consectetur erat sed augue tincidunt, eu pellentesque leo elementum. Mauris vulputate feugiat ante et tristique.