extends ./_template

block menu
    - var current = 'Trabalhe Conosco'

block content
    .title
        .center
            h2= current

    #trabalhe-conosco.center
        form(action='#', method='post', id="form-trabalhe-conosco")
            .form-group
                label(for='nome') Nome
                input(type='text', name='nome', id='nome')
            .form-group.telefone
                label(for='telefone') Telefone
                input(type='text', name='telefone', id='telefone')
            .form-group.email
                label(for='email') E-mail
                input(type='email', name='email', id='email')
            .form-group
                label(for='curriculo') Currículo #[span (arquivo PDF / DOC)]
                label#curriculo
                    .botao Anexar arquivo
                    span Nenhum arquivo selecionado
                    input(type='file', name='curriculo')

            input(type='submit', value='Enviar')

        .imagem: img(src='assets/img/layout/trabalhe_foto.jpg')