#cadastro
    clearfix()
    #form-cadastro
        width 532px
        float left
        scada 15
        color $texto
        .form-group
            float left
            width 100%
            label
                display block
                margin-bottom 6px
            input, select
                width 100%
                outline none
                border 1px solid #dcdcdc
                height 38px
                margin-bottom 15px
                padding 0 8px
            select
                padding-right 0
            &.cep
                width 130px
                margin-right 25px
            &.endereco
                width 377px
            &.cidade
                width 330px
                margin-right 25px
            &.estado
                width 177px
            &.telefone
                width 130px
                margin-right 25px
            &.email
                width 377px
        input[type='submit']
            display inline-block
            margin-top 20px
            border 2px solid $vermelho
            border-radius 4px
            outline 0
            color $vermelho
            scada 14 bold
            text-transform uppercase
            padding 14px
            background transparent
            transition background .3s ease, color .3s ease
            &:hover
                color white
                background $vermelho
    .imagem
        width 400px
        height 265px
        float right
        margin-left 48px
        img
            border-radius 4px