.title.contato
    margin-bottom 0

#map-embed
    margin-bottom 35px
    iframe
        border-bottom 1px solid #cfc8b9

#contato
    .left
        width 400px
        float left
    .right
        width 564px
        float right
    .informacoes
        width 100%
        margin-bottom 30px
        clearfix()
        p
            margin 0 0 5px
            scada 15
            color $texto
            span
                font-size 13px
        a
            scada 15
            text-decoration none
            color $vermelho
            transition color .3s ease
            &:hover
                color $cinza
    form
        width 100%
        clearfix()
        input[type='text'], input[type='email'], textarea
            width 100%
            outline none
            border 1px solid #dcdcdc
            height 38px
            margin-bottom 10px
            padding 0 8px
            color $texto
        textarea
            padding 8px
            min-height 182px
            resize vertical
            margin-bottom 0
        input[type='submit']
            display block
            float right
            margin-top 20px
            border 2px solid $vermelho
            border-radius 4px
            outline 0
            color $vermelho
            scada 14 bold
            text-transform uppercase
            padding 14px
            background transparent
            transition background .3s ease, color .3s ease
            &:hover
                color white
                background $vermelho