.bg-home
    width 100%
    height 100%
    position fixed
    top 0
    left 0
    z-index -1
    background url('../img/layout/bg-home.jpg') no-repeat center
    background-size cover

header.home
    top 20px
    background none

.aviso
    position relative
    overflow hidden
    width 400px
    margin 0 auto 60px
    border-radius 4px
    background rgba(0,0,0,.6)
    .icone
        position absolute
        left 0
        height 100%
        width 40px
        background url('../img/layout/home_icone-informacoes.png') no-repeat center 15px $vermelho
    p
        margin 0
        padding 15px 15px 15px 55px
        color white
        line-height 1.3
        a
            text-decoration none
            color $vermelho
            transition border .3s ease
            border-bottom 1px solid transparent
            &:hover
                border-color $vermelho

.home-slider
    position relative
    margin 200px auto
    .slide
        width 100%
        padding 0 80px
        text-align center
        color white
        h2
            margin 0
            raleway 64
            text-transform uppercase
            line-height 1
        h3
            scada 20
            margin 22px 0
        a
            display inline-block
            scada 16 bold
            padding 12px
            border 2px solid white
            border-radius 4px
            color white
            text-decoration none
            text-transform uppercase
            transition background .3s ease, color .3s ease
            &:hover
                background white
                color $vermelho
        h2, h3
            text-shadow 0 1px 0 black
    #prev
    #next
        position absolute
        top 50%
        z-index 1000
        display block
        text-indent -9999px
        width 17px
        height 31px
        background url('../img/layout/home_seta-esq.png') no-repeat center
        opacity .4
        transition opacity .3s ease
        &:hover
            opacity 1
    #next
        right 0
        background url('../img/layout/home_seta-dir.png') no-repeat center