#institucional
    clearfix()
    .imagem
        width 352px
        height 280px
        float left
        margin-right 48px
        img
            border-radius 4px
    .texto
        width 580px
        float left
        color $texto
        scada 15px
        p
            margin-top 0
            em
                font-style normal
                font-weight bold
            strong
                color $vermelho
        ul
            list-style-type none
            padding 0
            margin 25px 0
            li
                padding-left 16px
                margin-bottom 5px
                background url('../img/layout/bullet.png') no-repeat left 6px