#normas
    clearfix()
    scada 15
    color $texto
    .texto
        width 590px
        float left
        h3
            margin 32px 0 0
            scada 15 bold
            color $vermelho
            text-transform uppercase
            &:first-child
                margin 0
        p
            margin 12px 0
    aside
        width 330px
        float right
        border-radius 4px
        overflow hidden
        img
            display block
        .aside-texto
            background #ebebeb
            margin-top 1px
            padding 30px
            h3
                color $vermelho
                scada 15 bold
                text-transform uppercase
                margin-top 0
            p
                margin 12px 0
                &:last-child
                    margin-bottom 0