#form-orcamento
    clearfix()
    .form-block
        border 1px solid #dcdcdc
        margin-bottom 20px
        h3
            height 45px
            width 100%
            margin 0
            text-align center
            background #ebebeb
            line-height 45px
            scada 15
            color #a0a0a0
            text-transform uppercase
        .form-block-inner
            clearfix()
            padding 30px
            scada 15
            color $texto
            label
                display block
                height 38px
                line-height 38px
            input, textarea, select
                width 100%
                outline none
                border 1px solid #dcdcdc
                height 38px
                padding 0 8px
                color $texto
            select
                padding-right 0
            textarea
                padding 8px
                min-height 120px
                resize vertical
            input[type='radio'], input[type='checkbox']
                width auto
    input[type='submit']
        display inline-block
        float right
        border 2px solid $vermelho
        border-radius 4px
        outline 0
        color $vermelho
        scada 14 bold
        text-transform uppercase
        padding 14px
        background transparent
        transition background .3s ease, color .3s ease
        &:hover
            color white
            background $vermelho

    .dados-cadastrais
        border-color #d99593
        h3
            background #f1dbda
            color #bf7171
        .left
            width 502px
            float left
            label
                width 92px
                float left
                padding-right 10px
                text-align right
            input
                width 410px
        .right
            width 375px
            float right
            label
                width 85px
                float left
                padding-right 10px
                text-align right
            input, select
                width 290px
        .form-group
            margin-bottom 10px
            &:last-child
                margin 0

    .dados-gerais
        border-color #8db3e1
        h3
            background #dbe5f0
            color #5585b5
        .form-row
            clearfix()
            margin-bottom 10px
            &:last-child
                margin 0
            &.radios
                margin 30px 0
                .form-group
                    background #e4ebf2
                    float left
                    margin-right 30px
                    padding 20px
                    h5
                        margin 0 0 10px
                        scada 15 bold
                        color #5585b5
                    input
                        clear left
                        float left
                        margin-right 10px
                    input, label
                        height 24px
                        line-height 24px
        .form-group
            float left
            label
                float left
                padding-right 10px
            &.qtd-quadros
                label
                    width 98px
                input
                    width 110px
            &.pavimentos
                label
                    width 132px
                    text-align right
                input
                    width 110px
            &.velocidade
                label
                    width 163px
                    text-align right
                input
                    width 110px
                span
                    margin-left 10px
                    scada 13
                    color #a0a0a0
            &.marca-maquina
                label
                    width 131px
                input
                    width 319px
            &.modelo-maquina
                label
                    width 163px
                    text-align right
                input
                    width 305px
            &.denominacao-pavimentos
                label
                    width auto
                input
                    width 650px
            &.paredao-pisos
                input[type='radio']
                    float left
                    margin-right 10px
                label
                    width auto
                    margin-right 10px
                    &[for='paredao-pisos']
                        margin-right 10px
                    &[for='paredao-pisos-especificacao']
                        margin-left 10px
                input[type='text']
                    width 389px
            &.gabinete-slim
                input[type='radio']
                    float left
                    margin-right 10px
                label
                    width auto
                    margin-right 10px
                    &[for='gabinete-slim']
                        margin-right 10px
                    &[for='exemplo']
                        margin-left 5px
                        font-style italic

    .motor-tracao-ca
        border-color #d99593
        h3
            background #f1dbda
            color #bf7171
    .motor-tracao-cc
        border-color #c3d69b
        h3
            background #eaf0dd
            color #96a86a
    .motor-tracao-ca
    .motor-tracao-cc
        .form-row
            margin-bottom 10px
            &:last-child
                margin 0
            clearfix()
            &.inputs
                .form-group
                    float left
                    width 280px
                    label
                        float left
                        width 95px
                        text-align right
                        padding-right 10px
                    input
                        width 112px
                    span
                        margin-left 10px
                        scada 13
                        color #a0a0a0
            &.twolines
                label
                    line-height 1.1
                    padding-top 3px
    .motor-tracao-ca
        .form-row.radios
            margin-top 30px
            input[type='radio']
                float left
                margin-right 10px
            label
                float left
                padding-right 10px
                width auto
                margin-right 10px
                &[for='ca-motor-gearless-nao']
                    margin-right 40px
    .motor-tracao-cc
        .form-row.radios
            clearfix()
            background #eaf0dd
            padding 20px
            float left
            margin-top 20px
            .radio-wrapper
                float left
                clearfix()
                input
                    float left
                    margin-right 10px
                label
                    margin-left 25px
                    margin-right 30px
                &:last-child label
                    margin-right 0

    .acionamentos
        border-color #fcd200
        h3
            background #fefecc
            color #e8bf4b
        .form-block-inner
            border-bottom 1px solid #fcd200
            &.hidraulicos
                border 0
                .radios .radio-wrapper
                    width 300px
            h4
                scada 15 bold
                text-transform uppercase
                margin 0 0 10px
                display inline-block
                padding-bottom 3px
                border-bottom 1px solid #fcd200
                color #e8bf4b
            .radios
                clearfix()
                .radio-wrapper
                    float left
                    width 200px
                    input
                        float left
                        margin-right 10px
            .radios-inner
                margin-top 30px
                background #fefecc
                padding 20px
                float left
                h5
                    margin 0 0 10px
                    scada 15 bold
                    color #e8bf4b
                .radio-wrapper
                    float left
                    clearfix()
                    input
                        float left
                        margin-right 10px
                    label
                        margin-left 25px
                        margin-right 30px
                    &:last-child label
                        margin-right 0
            .inputs
                float left
                margin-left 30px
                margin-top 42px
                input[name='corrente-valvulas']
                    width 80px
                input[name='modelo-encoder-marca']
                    width 250px

    .freio-maquina
        border-color #b19fc6
        h3
            background #e3deeb
            color #8572a0
        .form-group
            &.radios
                clearfix()
                background #eae7f2
                padding 20px
                float left
                margin-bottom 20px
                .radio-wrapper
                    float left
                    clearfix()
                    input
                        float left
                        margin-right 10px
                    label
                        margin-left 25px
                        margin-right 30px
                    &:last-child label
                        margin-right 0
            &.checkboxes
                float left
                clearfix()
                margin-top 20px
                margin-left 30px
                label
                    width 215px
                input
                    float left
                    margin-right 10px
        .form-row.inputs
            float left
            .form-group
                float left
                width 250px
                label
                    float left
                    width auto
                    text-align right
                    padding-right 10px
                input
                    width 112px
                span
                    margin-left 10px
                    scada 13
                    color #a0a0a0

    .operador-porta
        border-color #f9be8f
        h3
            background #fce8d8
            color #d6854d
        .form-div
            &.tipo-operadores
                background #f9eae1
                padding 20px
                float left
                .form-group
                    clearfix()
                .form-group.radios
                    margin-bottom 20px
                    h5
                        margin 0 0 10px
                        scada 15 bold
                        color #d6854d
                    .radio-wrapper
                        float left
                        clearfix()
                        input
                            float left
                            margin-right 10px
                        label
                            margin-left 25px
                            margin-right 30px
                        &:last-child label
                            margin-right 0
                .form-group.checkboxes
                    float left
                    label
                        width 290px
                    input
                        float left
                        margin-right 10px
                .form-group.inputs
                    float left
                    margin-right 10px
                    margin-bottom 10px
                    &:last-child
                        margin 0
                    label
                        float left
                        width 80px
                        line-height 1.1
                        padding-top 3px
                        text-align right
                        margin-right 10px
                    input
                        float left
                        width 80px
                        background transparent
                        border 1px solid #f9be8f
            &.qtd-op
                float left
                margin-left 30px
                width 100px
                padding-top 10px
            &.porta
                margin-top 30px
                background #f9eae1
                padding 20px
                float left
                h5
                    margin 0 0 10px
                    scada 15 bold
                    color #d6854d
                .radio-wrapper
                    float left
                    clearfix()
                    input
                        float left
                        margin-right 10px
                    label
                        margin-left 25px
                        margin-right 30px
                    &:last-child label
                        margin-right 0
            &.marca-modelo
                float left
                margin-left 30px
                margin-top 42px
                .form-group
                    float left
                    label
                        margin-right 10px
                    input
                        width 130px
                        margin-right 30px

    .rampa
        border-color #c3bc97
        h3
            background #edebe0
            color #a0976e
        .form-div
            &.tipo
                margin-right 40px
                background #edebe0
                padding 20px
                float left
                h5
                    margin 0 0 10px
                    scada 15 bold
                    color #a0976e
                .radio-wrapper
                    float left
                    clearfix()
                    input
                        float left
                        margin-right 10px
                    label
                        margin-left 25px
                        margin-right 30px
                    &:last-child label
                        margin-right 0
            &.eletromagnetica
                float left
                span
                    float left
                    scada 13
                    color #a0a0a0
                    display block
                    margin 15px 0 17px
                .form-group
                    float left
                    width 280px
                    &.clear
                        clear left
                    label
                        float left
                        width auto
                        text-align right
                        padding-right 10px
                    input
                        width 112px
                    span
                        display inline
                        margin-left 10px
                        scada 13
                        color #a0a0a0
                        float none

    .sinalizacao-pavimentos
        border-color #8db3e1
        h3
            background #dbe5f0
            color #5585b5
        .form-div
            &.checkboxes
                clearfix()
                margin-bottom 30px
                .form-group
                    float left
                    width 180px
                    input
                        float left
                        margin-right 10px
            &.radios
                margin-right 30px
                background #e4ebf2
                padding 20px
                float left
                h5
                    margin 0 0 10px
                    scada 15 bold
                    color #5585b5
                .radio-wrapper
                    float left
                    clearfix()
                    input
                        float left
                        margin-right 10px
                    label
                        margin-left 25px
                        margin-right 30px
                    &:last-child label
                        margin-right 0

    .sinalizacao-cabina
        border-color #d99593
        h3
            background #f1dbda
            color #bf7171
        clearfix()
        .form-group
            float left
            width 180px
            input
                float left
                margin-right 10px

    .acessorios
        border-color #fcd200
        h3
            background #fefecc
            color #e8bf4b
        clearfix()
        .form-group
            float left
            width 300px
            input
                float left
                margin-right 10px

    .funcoes-diversas
        border-color #c3d69b
        h3
            background #eaf0dd
            color #96a86a
        clearfix()
        .form-div
            &.checkboxes
                margin-top 10px
                width 600px
                float left
                .form-group
                    float left
                    width 200px
                    input
                        float left
                        margin-right 10px
            &.radios
                float left
                background #eaf0dd
                padding 20px
                float left
                h5
                    margin 0 0 10px
                    scada 15 bold
                    color #96a86a
                .radio-wrapper
                    float left
                    clearfix()
                    input
                        float left
                        margin-right 10px
                    label
                        margin-left 25px
                        margin-right 30px
                    &:last-child label
                        margin-right 0

    .funcoes-especiais
        border-color #b19fc6
        h3
            background #e3deeb
            color #8572a0
        .form-div
            float left
            clearfix()
            .form-group
                float left
                background #eae7f2
                padding 20px
                float left
                margin-bottom 1px
                margin-right 1px
                h5
                    margin 0 0 10px
                    scada 15 bold
                    color #8572a0
                .radio-wrapper
                .checkbox-wrapper
                    float left
                    clearfix()
                    input
                        float left
                        margin-right 10px
                    label
                        margin-left 25px
                        margin-right 30px
                    &:last-child label
                        margin-right 0
                &.group1
                    width 711px
                &.group2
                    width 295px
                &.group3
                    width 415px
                &.group4
                    width 250px
                    clear left
                    margin-top 30px
                    label
                        margin-right 0
        .form-row
            float left
            width 600px
            margin-left 30px
            margin-top 30px
            .form-group.pavimentos-assimetricos
                margin-top 15px
                input[type='radio']
                    float left
                    margin-right 5px
                label
                    width auto
                    float left
                    margin-right 10px
                input[type='text']
                    width 160px
            .form-group.prumadas-botoeiras
                label
                    width 370px
                    float left
                    line-height 1.2
                    padding-top 1px
                    text-align right
                    margin-right 10px
                input
                    width 218px
                    float left

    .observacoes
        border-color #f9be8f
        h3
            background #fce8d8
            color #d6854d
        .checkboxes
        .radios
            float left
            background #f9eae1
            padding 20px
            float left
            margin-top 30px
            margin-right 30px
            h5
                margin 0 0 10px
                scada 15 bold
                color #d6854d
            .checkbox-wrapper
            .radio-wrapper
                float left
                clearfix()
                input
                    float left
                    margin-right 10px
                label
                    margin-left 25px
                    margin-right 30px
                &:last-child label
                    margin-right 0