#produtos
    a.thumb
        display inline-block
        vertical-align top
        width 224px
        text-decoration none
        margin-bottom 28px
        margin-right 28px
        &:nth-child(4n)
            margin-right 0
        .imagem
            position relative
            width 224px
            height 194px
            img
                display block
                border-radius 4px 4px 0 0
            &:after
                content ""
                display block
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background $vermelho
                border-radius 4px 4px 0 0
                opacity 0
                transition opacity .3s ease
        h4
            width 100%
            margin 1px 0 0
            background #e6e6e6
            border-radius 0 0 4px 4px
            text-align center
            padding 20px 30px
            scada 15
            color $vermelho
            transition background .3s ease, color .3s ease
        &:hover
            h4
                color white
                background $vermelho
            .imagem:after
                opacity .8

#produto-detalhe
    clearfix()
    .descricao
        width 462px
        float left
        margin-right 48px
        color $texto
        scada 15
        p
            margin-top 0
        .caracteristicas-wrapper
            margin-bottom 40px
            a.caracteristicas-trigger
                position relative
                display inline-block
                color $vermelho
                scada 14 bold
                text-transform uppercase
                text-decoration none
                border-bottom 2px solid $vermelho
                padding-right 15px
                margin 15px 0 0
                &:after
                    content ""
                    display block
                    position absolute
                    width 7px
                    height 4px
                    background url('../img/layout/produtos_seta-caracteristicas.png') no-repeat center
                    right 0
                    top 6px
                    transition transform .3s ease
                &.active:after
                    transform rotate(180deg)
            ul.caracteristicas
                list-style-type none
                padding 0
                margin-top 15px
                li
                    padding-left 16px
                    margin-bottom 5px
                    background url('../img/layout/bullet.png') no-repeat left 6px
        .botoes
            a
                display inline-block
                color $vermelho
                border 2px solid $vermelho
                padding 15px 18px
                border-radius 4px
                margin-right 10px
                text-decoration none
                text-transform uppercase
                scada 14 bold
                transition color .3s ease, background .3s ease
                &:hover
                    color white
                    background $vermelho
        .voltar
                display inline-block
                margin-top 36px
                padding-top 14px
                border-top 1px solid #d7d7d7
                text-decoration none
                color #8c8c8c
                scada 13
                transition color .3s ease
                &:hover
                    color $cinza
    .produto-slider
        width 470px
        float left
        border-radius 4px
        overflow hidden
        .nav
            position absolute
            width 100%
            height 54px
            background rgba(198,56,59,.9)
            left 0
            bottom 0
            z-index 999
            #prev
            #next
                display block
                position absolute
                width 70px
                height 100%
                text-indent -9999px
                opacity .6
                transition opacity .3s ease
                &:hover
                    opacity 1
            #prev
                left 30px
                background url('../img/layout/produtos_seta-esq.png') no-repeat center
            #next
                right 30px
                background url('../img/layout/produtos_seta-dir.png') no-repeat center