#suporte
    clearfix()
    .contato
        width 450px
        float left
        p
            margin 0 0 10px
            scada 15
            color $texto
            span
                scada 20
        a
            display inline-block
            margin-bottom 30px
            scada 16
            color $vermelho
            text-decoration none
            transition color .3s ease
            &:hover
                color $cinza
        img
            display block
            border-radius 4px
    .texto
        width 470px
        float right
        scada 15
        color $texto
        p
            margin 12px 0
            &:first-child
                margin 0