header
    height 123px
    background url('../img/layout/bg-menu.jpg') no-repeat center $cinza
    background-size cover
    clearfix()
    h1
        position relative
        float left
        display block
        width 274px
        height 58px
        margin 0
        padding 0
        top 33px
        background url('../img/layout/logo.png') no-repeat center
        text-indent -9999px
    nav
        float left
        position relative
        top 34px
        margin-left 55px
        div > a
            scada 15
            color white
            text-decoration none
            text-transform uppercase
            margin-right 25px
            transition color .3s ease, border .3s ease
            &:hover
            &.active
                color $vermelho
                border-color $vermelho
        .top_menu a
            border-top 2px solid transparent
            padding-top 6px
        .bottom_menu
            position relative
            margin-top 15px
            a
                border-bottom 2px solid transparent
                padding-bottom 6px
            .social
                margin 0
                width 52px
                height 22px
                list-style-type none
                padding 0
                position absolute
                right 40px
                top -2px
                a
                    display block
                    float left
                    width 22px
                    height 22px
                    text-indent -9999px
                    transition background .3s ease
                    padding 0
                    border 0
                    &.facebook
                        background url('../img/layout/facebook.png') no-repeat center
                        &:hover
                            background-image url('../img/layout/facebook-hover.png')
                    &.twitter
                        margin-left 8px
                        background url('../img/layout/twitter.png') no-repeat center
                        &:hover
                            background-image url('../img/layout/twitter-hover.png')
    .lang
        list-style-type none
        padding 0
        margin 0
        position relative
        float right
        top 34px
        li
            padding 0
            margin 4px 0
            a
                display block
                width 24px
                height 20px
                text-indent -9999px
                &.en
                    background url('../img/layout/lang-en.png') no-repeat center
                &.es
                    background url('../img/layout/lang-es.png') no-repeat center
                &.pt
                    background url('../img/layout/lang-pt.png') no-repeat center


footer
    background $cinza
    border-bottom 2px solid $vermelho
    padding 30px 0
    margin-top 80px
    clearfix()
    nav
        float left
        clearfix()
        .col
            float left
            margin-right 50px
        a
            display block
            text-decoration none
            scada 14
            line-height 1.5
            color #bdbdbd
            transition color .3s ease
            &:hover
                color white
    .contato
        float left
        margin-left 45px
        color white
        background url('../img/layout/icone-endereco.png') no-repeat left top
        padding-left 30px
        p
            margin-top 0
            line-height 1.3
        a
            color $vermelho
            text-decoration none
            transition color .3s ease
            &:hover
                color white
    .copyright
        float right
        text-align right
        color $texto
        scada 11
        line-height 1.5
        p
            margin-top 0
        a
            position relative
            display block
            text-decoration none
            color $texto
            transition color .3s ease
            &:hover
                color #bdbdbd
            &.trupe:after
                content ""
                display block
                position absolute
                right 0
                top 24px
                width 19px
                height 15px
                background url('../img/layout/trupe.png') no-repeat center

.title
    height 80px
    margin-bottom 40px
    background $vermelho
    border-bottom 2px solid #9d2d2e
    h2
        margin 0
        line-height 80px
        raleway 18
        color white
        text-transform uppercase
        letter-spacing 1px
    a
        display inline-block
        height 40px
        line-height 38px
        border 2px solid white
        margin-top 20px
        border-radius 4px
        margin-right 10px
        padding 0 12px
        text-decoration none
        color white
        raleway 13
        text-transform uppercase
        letter-spacing .5px
        transition background .3s ease, color .3s ease
        &:hover
        &.active
            color $vermelho
            background white