#trabalhe-conosco
    clearfix()
    #form-trabalhe-conosco
        width 532px
        float left
        scada 15
        color $texto
        .form-group
            float left
            width 100%
            label
                display block
                margin-bottom 6px
                span
                    scada 13
                    color #b4b4b4
                &#curriculo
                    width 100%
                    position relative
                    outline none
                    border 1px solid #dcdcdc
                    height 38px
                    margin-bottom 15px
                    input[type='file']
                        opacity 0
                        top 0
                        left 0
                        width 0
                        height 0
                        position absolute
                        z-index 0
                    .botao
                        cursor pointer
                        height 38px
                        top -1px
                        line-height 38px
                        width 120px
                        text-align center
                        background $vermelho
                        color white
                        position absolute
                        right 0
                        padding 0 12px
                        scada 13
                    span
                        color #b4b4b4
                        display block
                        width 400px
                        line-height 38px
                        padding-left 8px
                        white-space nowrap
                        overflow hidden
                        text-overflow ellipsis
                        &.active
                            color $texto
            input
                width 100%
                outline none
                border 1px solid #dcdcdc
                height 38px
                margin-bottom 15px
                padding 0 8px
            &.telefone
                width 130px
                margin-right 25px
            &.email
                width 377px
        input[type='submit']
            display inline-block
            margin-top 20px
            border 2px solid $vermelho
            border-radius 4px
            outline 0
            color $vermelho
            scada 14 bold
            text-transform uppercase
            padding 14px
            background transparent
            transition background .3s ease, color .3s ease
            &:hover
                color white
                background $vermelho
    .imagem
        width 400px
        height 265px
        float right
        margin-left 48px
        img
            border-radius 4px