*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    margin 0
    padding 0
    scada 14

::selection
    background black
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto