// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = 710px

// Colors
$vermelho = #c6383b
$texto = #737373
$cinza = #282828

// Fonts
@import url("http://fonts.googleapis.com/css?family=Scada:400,700")
@import url("http://fonts.googleapis.com/css?family=Raleway:800")

scada($size, $style = regular)
    font-size $size + 0px
    font-family "Scada", Arial, "Helvetica Neue", Helvetica, sans-serif
    font-weight 400
    if $style == bold
        font-weight 700

raleway($size)
    font-size $size + 0px
    font-family "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif
    font-weight 800